<div class="md:col-span-1 md:flex md:justify-end justify-between">
    <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" (click)="OnSideChange()">
        <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
      </span>
    
    <div [ngClass]="{'left-[-300px]': !showMenu}" class="sidebar fixed top-0 bottom-0 lg:left-0 duration-1000
    p-2 w-[300px] overflow-y-auto text-center bg-gray-200 shadow h-screen">
    <div class="text-gray-100 text-xl">
      <div class="">
        <div class="">
      <a routerLink="/" class="p-2.5 mt-1 flex items-center rounded-md">
        <h1 class="font-bold text-4xl uppercase p-4 text-gray-500 border-gray-100">YAA KHAYER</h1>
      </a>
      <hr class="my-2 text-gray-600">

      <div class="">
        <div class="p-2.5 mt-3 flex items-center rounded-md 
        px-4 duration-300 cursor-pointer  bg-gray-50">
          <i class="bi bi-search text-sm" style="color:rgb(155, 155, 155)"></i>
            <div>
                <input #myInput type="text" class="text-[15px] ml-4 w-full bg-transparent text-gray-500 focus:outline-none" placeholder="Search" 
                (keyup.enter)="doSearch(myInput.value)"
                />
            </div>
        </div>

        <div routerLink="/donnations" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:text-white hover:bg-gray-600  text-gray-800">
          <i class="bi bi-house-door-fill" style="color:rgb(155, 155, 155)"></i>
          <span class="text-[15px] ml-4">Home</span>
        </div>
        
        <hr class="my-4 text-gray-600">

        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-gray-600 text-gray-800 hover:text-white">
          <i class="bi bi-chat-left-text-fill" style="color:rgb(155, 155, 155)"></i>
          <div class="flex justify-between w-full items-center" (click)="OnChange()">
            <span class="text-[15px] ml-4">Category</span>
            <span [ngClass]="{'rotate-180': showMenu, 'rotate-0': !showMenu}" class="text-sm transition ease-out duration-500" id="arrow">
              <i class="bi bi-chevron-down" style="color:gray"></i>
            </span>
          </div>
        </div>
        <div *ngFor="let tempCategory of donnationCategories" [ngClass]="{'hidden': !showMenu, 'block': showMenu}"  class=" leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto">
                <h1 routerLink="/category/{{tempCategory.id}}" class="cursor-pointer p-2 hover:bg-gray-700 hover:text-white rounded-md mt-1 text-gray-800">{{tempCategory.categoryName}}</h1>
        </div>
      </div>
    </div>

      <div class="mt-[50px]">
      <div routerLink="/authenticate-form" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:text-white hover:bg-gray-600  text-gray-800">
        <i class="bi bi-shield-lock" style="color:rgb(155, 155, 155)"></i>
        <span class="text-[15px] ml-4">Log In</span>
      </div>
      <div routerLink="/register-form" class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:text-white hover:bg-gray-600  text-gray-800">
        <i class="bi bi-box-arrow-in-right" style="color:rgb(155, 155, 155)"></i>
        <span class="text-[15px] ml-4">Register</span>
      </div>
    </div>
  </div>
    </div>
  </div>

</div>
