<div class=" grid md:grid-cols-2 lg:grid-cols-3 gap-10"> 
    <div *ngFor="let TempDonnation of donnations">
        <div class="mt-8">
         <!-- Cards go here -->
            <div class="card hover:shadow-lg">
                <img src="assets/images/placeholder.jpg" class="w-full h-32 sm:h-48 object-cover">
                <div class="m-4">
                    <span class="font-bold">{{TempDonnation.name}}</span>
                    <span class="block text-gray-500">{{TempDonnation.description}}</span>
                </div>
                <div class="badge">
                    <svg class="w-5 inline-block mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                        <path strokeLinecap="round" strokeLinejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                  
                    <span>{{TempDonnation.dateCreated}}</span>
                </div>
            </div>
        </div>

    </div>


</div>
